
body {
    font-family: monospace, Hack, Ubuntu;
    margin: auto;
    text-align: center;
    background-color: #151515;
    color: navajowhite;
}

a {
    color: #ff8300;
}

header, footer {
    width: 100%;
    height: 50px;
}

#main-summary {
    max-width: 900px;
    margin: auto;
}

#title {
    color: white;
}

.container {
    background-color: #2b2826;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
}

.container img {
    vertical-align: middle;
}

.summary-list img {
    width: 50px;
}

h1, h2, h3 {
    text-align: center;
    color: #ffaa07;
}

#contact {

}

#pfp {
    height: 150px;
    vertical-align: middle;
    margin-right: 20px;
}

#flag {
    vertical-align: middle;
    margin-left: 10px;
    height: 12px;
}

/* Project */
.project {
    background-color: #2c2c2c;
    display: inline-block;
    padding: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.5);
}

.project .title {
    font-size: 20pt;
    font-weight: bold;
}

.project img {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Contact */
.contact {
    margin: auto;
    text-align: left;
}

.contact img {
    height: 20px;
}